body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0;

  #root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
}
h1,
h2,
h3,
p,
ul {
  font-weight: 500;
}
@keyframes s3{ 
  100%{transform: rotate(1turn)}
}





