body {
  font-family: "Montserrat", sans-serif;
  position: relative;

  #root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100vh;
  }
}
h1,
h2,
h3,
p,
ul {
  font-weight: 500;
}


// @keyframes slider {
//   0% {
//     left: 0px;
//   }
//   100% {
//     left: -1800px;
//   }
// }