.logement-title {
  h1 {
    color: #ff6060;
    width: 335px;
    margin: 3% 0% 2% 5%;
    font-size: 20px;
  }
  h2 {
    color: #ff6060;
    width: 323px;
    height: 22px;
    margin: 2% 0% 0% 5%;
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
  .logement-title {
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 2%;
    }
  }
  .tag-list {
    li {
      font-size: 15px;
    }
  }

  .logement-card {
    display: flex;
    .logement-contener {
      margin: 0% 0% 2% 2%;
    }
  }
}

@media screen and (min-width: 992px) {
  .logement-title {
    h1 {
      font-size: 36px;
      width: 665px;
      margin: 1% 0% 0% 7%;
    }
    h2 {
      font-size: 18px;
      margin: 10px 0% 3% 7%;
    }
  }
  .logement-card {
    .logement-contener {
      margin: 0% 15% 2% 2%;
    }
  }
}
