.banner {
  width: 100%;
}
.image-overlay {
  background-color: rgba(0, 0, 0, 0.212);
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  width: 100%;
  height: 111px;
  border-radius: 10px;
}
.banner-home {
  display: flex;
  justify-content: center;
  position: relative;
  width: 90%;
  margin: 3% auto 0;
  h1 {
    width: 57%;
    position: absolute;
    left: 6%;
    top: 20%;
    color: white;
    font-size: 20px;
  }
  img {
    width: 100%;
    height: 111px;
    border-radius: 10px;
    object-fit: cover;
  }
}
.banner-about {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0% 0% 5% 5%;
  margin-top: 3%;
  img {
    width: 95%;
    height: 223px;
    border-radius: 10px;
    object-fit: cover;
  }
}

@media screen and (min-width: 576px) {
  .image-overlay {
    height: 200px;
  }
  .banner-home {
    img {
      height: 200px;
    }
    h1 {
      top: 40%;
    }
  }
  .banner-about {
    img {
      width: 95%;
      height: 223px;
    }
  }
}

@media screen and (min-width: 992px) {
  .image-overlay {
    height: 223px;
  }
  .banner-home {
    width: 90%;
    img {
      height: 223px;
    }
    h1 {
      font-size: 48px;
      width: auto;
      left: 28%;
      top: 25%;
    }
  }
  .banner-about {
    padding: 0% 0% 2% 4%;
    margin: 2% 0% 0% 0%;
    box-sizing: border-box;
    img {
      border-radius: 25px;
    }
  }
}
