.Collapsible{
    margin-bottom: 10%;
}
.collapsible-about{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 0% 0% 0% 2%;
    margin: 0% 0% 5% 0%;
    h2{
        border: 1px solid #ff6060;
        background-color: #FF6060;
        color: white;
        margin: 0% 0% 0% 0%;
        border-radius: 5px;
    }
    p{
        border: 1px solid #F6F6F6;
        background-color: #F6F6F6;
        color: #FF6060;
        margin-top: 0px;
        border-top: 0px;
        border-radius: 0px 0px 5px 5px;
    }

}
