.Collapsible {
  margin-bottom: 10%;
}
.collaps-about, .collaps-logement {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collapsible-card{
  width: 90%;
  margin: 0% 0% 5% 0%;
  p,
  ul {
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    color: #ff6060;
    margin-top: 0px;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    font-size: 16px;
    padding: 5% 5% 15% 5%;
  }
}

.collapsible-title {
  display: flex;
  align-items: center;
  border: 1px solid #ff6060;
  background-color: #ff6060;
  border-radius: 5px;
  h2 {
    color: white;
    margin: 0% 0% 0% 0%;
    border-radius: 5px;
    font-size: 18px;
    padding: 2% 0% 2% 3%;
  }
  img {
    width: 15px;
    position: absolute;
    right: 35px;
  }
  li {
    margin: 0% 0% 0% 10%;
  }
}

.collapsible-buton {
  width: 70px;
}

.collapsible-button.collapsed {
  transform: rotate(90deg);
}

.collapsible-button.expanded {
  transform: rotate(270deg);
  right: 35px;
}

@media screen and (min-width: 576px) {
  .collapsible-card {
    width: 90%;
  }
  .collapsible-button.expanded {
    transform: rotate(270deg);
    right: 65px;
  }

  .collapsible-title {
    img {
      width: 25px;
      right: 65px;
    }
  }
}

@media screen and (min-width: 992px) {
  .collapsible-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collapsible-title{
    width: 80%;
  }
  .collapsible-content{
    width: 80%;
  }
  .collapsible-button.expanded {
    right: 16%;
  }

  .collapsible-title {
    img {
      right: 16%;
    }
  }

  .collaps-logement{
    display: flex;
    flex-direction: row;
    margin: 3% 0% 0% 0%;
    .collapsible-card{
      margin: 0%;
      .collapsible-title{
        width: 88%;
        img{
          position: relative;
          left: 75%;
        }
      }  
    }
  }

}