.Collapsible {
  margin-bottom: 10%;
}
.collaps-about,
.collaps-logement {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collapsible-card {
  width: 90%;
  margin: 0% 0% 5% 0%;
  p,
  ul {
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    color: #ff6060;
    margin-top: 0px;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    font-size: 12px;
    padding: 5% 2% 12% 2%;
  }
}

.collapsible-title {
  display: flex;
  align-items: center;
  border: 1px solid #ff6060;
  background-color: #ff6060;
  border-radius: 5px;
  h2 {
    color: white;
    margin: 0% 0% 0% 0%;
    border-radius: 5px;
    font-size: 13px;
    padding: 2% 0% 2% 3%;
  }
  img {
    width: 15px;
    position: absolute;
    right: 35px;
  }
  li {
    margin: 0% 0% 0% 10%;
  }
}

.collapsible-buton {
  width: 70px;
}

.collapsible-button.collapsed {
  transform: rotate(90deg);
}

.collapsible-button.expanded {
  transform: rotate(270deg);
  right: 35px;
}

@media screen and (min-width: 576px) {
  .collapsible-card {
    width: 90%;
    p,
    ul {
      font-size: 18px;
    }
  }
  .collapsible-button.expanded {
    transform: rotate(270deg);
    right: 65px;
  }

  .collapsible-title {
    h2 {
      font-size: 20px;
    }
    img {
      width: 25px;
      right: 65px;
    }
  }
}

@media screen and (min-width: 992px) {
  .collapsible-title {
    width: 80%;
  }
  .collapsible-content {
    width: 80%;
  }
  .collapsible-button.expanded {
    right: 16%;
  }

  .collapsible-title {
    img {
      right: 16%;
    }
  }

  .collaps-about {
    .collapsible-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .collapsible-title {
      font-size: 24px;
    }
    .collapsible-content {
      p {
        font-size: 24px;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .collaps-logement {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      margin: 1% 3% 0% 3%;
      .collapsible-title {
        img {
          position: relative;
          margin: 0% 0% 0% 90%;
        }
      }
      .collapsible-content {
        width: 100%;
      }
    }

    .collaps-logement .collapsible-card {
      width: calc(50% - 2%);
      margin: 0;
    }

    .collaps-logement .collapsible-title {
      width: 100%;
    }
  }
}
