.hote {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 6% 0 0;
  img {
    width: 40px;
    border-radius: 50%;
  }
  p {
    width: 65px;
    margin-right: 10px;
    text-align: right;
    color: #ff6060;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 576px) {
  .hote {
    margin: 0 0 3% 0;
    img {
      width: 70px;
    }
  }
}

@media screen and (min-width: 992px) {
  .hote {
    padding-right: 0;
    p {
      width: 75%;
      margin-right: 18px;
      font-size: 18px;
    }
    img {
      width: 70px;
    }
  }
}
