.star {
  display: flex;
  margin-left: 4%;
}

@media screen and (min-width: 576px) {
  .star {
    margin-left: 5%;
    img {
      width: 20px;
    }
  }
}

@media screen and (min-width: 992px) {
  .star {
    img {
      width: 24px;
    }
  }
}
