.star-test {
  display: flex;
  position: absolute;
  left: 5%;
  top: 60%;
}

@media screen and (min-width: 576px) {
  .star-test {
    top: 46%;
    img {
      width: 20px;
    }
  }
}

@media screen and (min-width: 992px) {
  .star-test {
    margin: 4% 0% 0% 5%;
    left: 86%;
    top: 78%;

    img {
      width: 24px;
    }
  }
}
