.carrousel {
  position: relative;
  overflow: hidden;
  margin: 20px 10px 10px 10px;
  display: flex;
justify-content: center;

  .container {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 255px;
    width: 98%;
  }
  .caroussel__item {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    transition: transform 500ms ease-in-out;
    &.imageCourante {
      opacity: 1;
      transform: translateX(0);
    }
    &.imageSuivante {
      transform: translateX(100%);
      transition: transform 500ms ease-in-out, opacity 10ms ease-in-out;
    }
    &.imagePrecedente {
      transform: translateX(-100%);
      transition: transform 500ms ease-in-out, opacity 10ms ease-in-out;
    }
  }
}

.image-index {
  position: absolute;
  display: none;
}

.bouton {
  position: absolute;
  width: 24px;
  cursor: pointer;
  top: 107px;
}

#gauche {
  left: 15px;
  transform: rotate(180deg);
}
#droit {
  right: 15px;
}

@media screen and (min-width: 576px) {
  .carrousel {
    display: flex;
    justify-content: center;
      .container {
    width: 94%;
  }

  }
  .image-index {
    display: flex;
    color: white;
    top: 85%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
  }
  .bouton {
    top: 44%;
  }
  #droit {
    right: 4%;
  }
  #gauche {
    left: 4%;
  }
  .photo {
    img {
      width: 95%;
    }
  }
}

@media screen and (min-width: 992px) {
  .carrousel {
    .container {
      height: 445px;
      width: 92%;
    }
  }
  .photo {
    height: 500px;
  }
  .bouton {
    width: 50px;
  }
  #gauche {
    left: 5%;
  }
  #droit {
    right: 5%;
  }
}
