.carrousel{
    position: relative;
    overflow: hidden;
}


.photo {
    display: flex;
    justify-content: center;
    img{
        width: 335px;
        height: 255px;
        margin: 0;
        display: inline-block;
        background-size: cover;
        object-fit: cover;
        border-radius: 10px;
    }
}

.bouton{
    position: absolute;
    width: 24px;
    cursor: pointer;
    top: 115px;
}

#gauche{
    left: 10px;
    transform: rotate(180deg);
}
#droit{
    right: 10px;
    transform: rotate(0deg);
}

// .gauche:hover{
//     transform: rotate(0deg) scale(1.1);
//     opacity: 1;
// }
// .droit:hover{
//     transform: rotate(180deg) scale(1.1);
//     opacity: 1;
// }
