.carrousel {
  position: relative;
  overflow: hidden;
}

.photo {
  display: flex;
  justify-content: center;
  img {
    width: 95%;
    height: 255px;
    margin: 5% 0% 0% 0%;
    display: inline-block;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
  }
}

.image-index {
  position: absolute;
  display: none;
}

.bouton {
  position: absolute;
  width: 24px;
  cursor: pointer;
  top: 125px;
}

#gauche {
  left: 15px;
  transform: rotate(180deg);
}
#droit {
  right: 15px;
}

@media screen and (min-width:576px){
  .image-index{
    display: flex;
    color: white;
    top: 85%;
  }
  .bouton{
    top: 50%;

  }
  #droit{
    right: 4%;
  }
  #gauche{
    left: 4%;
  }
}

@media screen and (min-width:992px){
  
}