.tag-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0% 0% 0% 0%;
  margin: 1% 0% 0% 5%;
  li {
    border: 1px solid #ff6060;
    padding: 1% 3% 1% 3%;
    margin: 0% 2% 0% 0%;
    border-radius: 10px;
    background-color: #ff6060;
    color: white;
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) {
  .tag-list{
    margin-left: 3%;
    li{
      padding: 5px 20px 5px 20px;
    }
  }
}
