footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 15% 0% 15% 0%;
  margin-top: 5%;
  img {
    display: block;
    width: 122px;
    margin: 0 auto;
    height: 40px;
  }
  h3 {
    color: #ffffff;
    font-size: 12px;
  }
}

@media screen and (min-width: 576px) {
  footer {
    img {
      width: 122px;
      height: 40px;
    }
    h3 {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 992px) {
  footer {
    padding: 5% 0% 5% 0%;
  }
}
