header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
  img {
    width: 145px;
    height: 47px;
  }
  nav {
    width: 40%;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0%;
      a {
        text-decoration: none;
        color: $primary-color;
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  header {
    margin: 3% 0% 0% 0%;
    img {
      width: 210.32px;
      height: 68px;
    }
    nav {
      margin: 2% 0% 0% 0%;
      ul {
        padding-left: 35%;
        a {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
}
